@ebook:registry=https://ebook-300006373750.d.codeartifact.eu-central-1.amazonaws.com/npm/ebook-management/
                      //ebook-300006373750.d.codeartifact.eu-central-1.amazonaws.com/npm/ebook-management/:always-auth=true
registry=https://registry.npmjs.org/